node_modules
.next
.env
.env.local
.env.production
pnpm-lock.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

/app/generated/prisma

# Firebase Service Account 等のシークレット
*firebase-adminsdk*.json
google-services.json
*.serviceaccount.json
